<web-app version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
                        http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>wtsCore</servlet-name>
    <servlet-class>com.ttProject.ozouni.jetty.RtmpWtsServlet</servlet-class>
<!--    <init-param>
      <param-name>minVersion</param-name>
      <param-value>-1</param-value>
    </init-param> -->
  </servlet>
  <servlet-mapping>
    <servlet-name>wtsCore</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.js</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.html</url-pattern>
  </servlet-mapping>
</web-app>
